.header-site {
    background-color: #4a4139 !important;
    background-image: url("../images/menu_bg.png") !important;
    background-position: 100% 100% !important;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 100%;
    margin: auto;
}

.nav-bg {
    background-color: #4a4139 !important;
    background-image: url("../images/menu_bg.png") !important;
    background-position: 100% 100% !important;
}

footer {
    background-color: #4a4139;
    background-image: url("../images/menu_bg.png");
    background-position: 100% 100%;
    color: #cfcfcd;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .show>.nav-link {
    color: #c8c2c1;
    font-family: myFirstFont;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
    font-family: myFirstFont;
}

.navbar-expand-lg .navbar-collapse.d-nav {
    display: block !important;
}

.card .card-img-top {
    width: 120px;
    margin: 0 auto;
}

ul {
    list-style-type: circle;
    padding-left: 10px;
}

.btn {
    text-align: center;
    width: 132px;
    height: 41px;
    background-position-y: -1px;
    background-position-x: -1px;
}

.btn:hover {
    background-position-y: -45px;
}

body {
    background-color: hsl(33deg 61% 93%);
}

.card {
    background-color: hsl(33deg 61% 93%);
}

@font-face {
    font-family: myFirstFont;
    src: url(../font/TisaSansWeb_W03_BoldItalic.ttf);
}

.card {
    border-radius: 8px;
    box-shadow: inset 0px -77px 105px -90px grey;
}

.card-title {
    font-family: myFirstFont;
    font-size: 2rem;
}

.top-nav .nav-item a {
    color: #cfcfcd;
    padding: 0px 5px;
    text-decoration: none;
}

.top-nav .nav-item:first-child a {
    border-right: 2px solid #8d8a86;
}

.footer-menu .nav-item a {
    color: #cfcfcd;
    padding: 0px 10px;
    text-decoration: none;
}

.footer-menu .nav-item a {
    border-right: 2px solid #8d8a86;
}

.footer-menu .nav-item:last-child a {
    border-right: none;
}

.padding {
    padding: 10px 110px;
}

@media (min-width: 220px) and (max-width: 575.98px) {
    .padding {
        padding: 0px;
    }
    .navbar-brand img {
        width: 200px;
    }
}


/* // Small devices (landscape phones, less than 768px) */

@media (min-width: 575.98px) and (max-width: 767.98px) {
    .padding {
        padding: 0px;
    }
}


/* // Medium devices (tablets, less than 992px) */

@media (min-width: 767.98px) and (max-width: 991.98px) {
    .padding {
        padding: 0px;
    }
}


/* // Large devices (desktops, less than 1200px) */

@media (min-width: 991.98px)and (max-width: 1199.98px) {
    .padding {
        padding: 10px 110px;
    }
}


/* // X-Large devices (large desktops, less than 1400px) */

@media (min-width: 1199.98px) and (max-width: 1399.98px) {
    .padding {
        padding: 10px 110px;
    }
}


/* // XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width */